<section id="container">
	<div class="page-header">
		<h1 class="text-center">Флэшкарточкер</h1>
	</div>

	<section class="clearfix">
	  <ul class="nav nav-stacked">
	    <li class="active"><a href="/cards">Все карточки</a></li>
	    <li><a href="#">Добавить карточку</a></li>
	  </ul>
	</section>

</section>

