<section id="container">
  <div class="page-header">
    <h1 class="text-center">Карточки</h1>
  </div>
 
<table>
  <tr>
    <th>Original</th> 
    <th>Translate</th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= article.original_text %></td>
      <td><%= article.translated_text %></td>
      <td><%= link_to 'Show', card_path(card) %></td>
    </tr>
  <% end %>
</table>