<section id="container">
  <div class="page-header">
    <h1 class="text-center">Карточки</h1>
  </div>
 
<table>
  <tr>
    <th>Список карточек</th> 
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= link_to card.original_text, card_path(card) %></td>
    </tr>
  <% end %>
</table>